<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Bienvenue sur notre de catalogues de films !</h1>
        <br><br><br>
        <h2 class="display-3">Vous allez pouvoir consulter la liste des films.</h2>
    </div>
</div>
<br><br><br><br>

    <h3 class="display-3" Movies déjà créés :</3>
<hr>
    <center>
    <p>
<% @movies.each do |movie| %>
    <p><%= movie.title %>, réalisé par <%= movie.director %>, sorti en <%= movie.release_year %></p>
<% end %>
</p>
    </center>


    <hr>
    
    <p>
    <% Movie.all.each do |movies| %>
    <p>
       <div>
            <p><strong><%= movies.title %></strong></p>
            <p><%= movies.release_year %></p>
            <p><%= movies.director %></p>
            <hr>
        </div>
        </p>
        <% end %>
        </p>
        </center>