<div class="jumbotron">
    <div class="container">
        
        <center>
        <h1 class="display-3">Bienvenue sur notre de catalogues de films !</h1>
        
        <h3 class="display-3">Vous allez pouvoir consulter la liste des films.</h3>
       
    </div>
</div>
    </center>

    <center>
    <h4> Movies déjà créés :</h4>
    <br>
    <p>
<% @movies.each do |movie| %>
    <p><%= movie.title %>, réalisé par <%= movie.director.first_name %> <%= movie.director.last_name %>, sorti en <%= movie.release_year %></p>
<% end %>
</p>
    </center>

    <hr>
    
    <p>
    <% Movie.all.each do |movie| %>
    <p>
        <div>
            <p><strong><%= movie.title %></strong></p>
            <p><%= movie.release_year %></p>
            <p><%= movie.director.first_name %> <%= movie.director.last_name %></p>
            <hr>
        </div>
        </p>
        <% end %>
        </p>
        </center>